* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
    margin: 1rem;
}
.meme-generator {
  text-align: center;
  background-color: blueviolet;
  color: white;
  padding: 0 2rem;
  width: 40%;
  margin: 0 auto;
  border-radius: 1rem;
  
}


.meme-generator .generate-meme-btn:hover {
  padding: 8px 36px;
  letter-spacing: 3px;
}
.meme-title {
  font-size: 1.2rem;
  padding: 0 0 0.9rem 0;
}
.meme-generator .meme-author {
  padding: 10px;
}
